[Desktop Entry]
Name=Postman
GenericName=REST Client
Exec=postman
Terminal=false
Icon=/opt/postman/app/resources/app/assets/icon.png
Type=Application
Categories=Network;Development;
Version=6.5.2
